<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}

        <a href="/admin/apps/new" class="btn btn-default"> Add New Application Code </a>

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Application </th>
              <th> </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            {{#app_data}}
              <tr>
                <td><a href="/admin/apps/{{id}}"><div name="cell">{{app_name}}</div></a></td>
                <td><a href="/admin/apps/{{id}}" class="btn btn-warning btn-sm"><div name="cell"> Edit </div></a></td>
                <td>
                  <form action="/admin/apps/{{id}}?_method=delete" method="post">
                    <button type="submit" class="btn btn-danger btn-sm"> Delete </button>
                  </form>
                </td>
              </tr>
            {{/app_data}}
          </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
