<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
        {{>templates/navbar}}
        <div class="left-panel">
          {{>templates/index-left-panel}}
        </div>
        <div class="right-panel">
          <div class="col-sm-12" style="margin-bottom:5px;">
          <a href="/admin/users" class="btn btn-primary col-sm-8 col-sm-offset-2"> Users </a>
          </div>

          <div class="col-sm-12">
          <a href="/admin/apps" class="btn btn-primary col-sm-8 col-sm-offset-2"> Applications </a>
          </div>
        </div>
  </body>
</html>
