.wrapper {
  margin-top: 80px;
}
.left-panel {
  background-color:white;
  color: black;
  float: left;
  height: 100%;
  margin-top:51px;
  overflow:scroll;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  width:80%;
}

.right-panel {
  background-color:#CCCCCC;
  float: right;
  height: 100%;
  margin-top: 51px;
  overflow:scroll;
  padding-top: 50px;
  text-align: center;
  width:20%;
}
