.wrapper {
  margin-top: 80px;
}
.left-panel {
  background-color:blue;
  float: left;
  margin-top:51px;
  padding-left: 30px;
  width:70%;
}

.right-panel {
  background-color:red;
  float: right;
  margin-top: 51px;
  text-align: center;
  width:30%;
}
