<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{{#user}}admin{{/user}}"> Bookmarklet Admin </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#user}}
          {{#isAdmin}}
          <li><a href="/admin/users" class="dropdown-toggle"> User </a></li>
          <li><a href="/admin/mappings" class="dropdown-toggle"> Mapping </a></li>
          {{/isAdmin}}
        {{/user}}
        {{#user}}
          {{#isGuest}}
          <li><a href="/guest/users" class="dropdown-toggle"> User </a></li>
          <li><a href="/guest/mappings" class="dropdown-toggle"> Mapping </a></li>
          {{/isGuest}}
        {{/user}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#user}}
          <li><a href="/?action=logout"> Sign Out </a></li>
        {{/user}}
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
