<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}
        <h3> Sorry you do not have access to this page </h3>
        <a class="btn btn-primary" href="/"> Back </a>
      </div>
    </div>
  </body>
</html>
