<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}
        <div class="jumbotron">
          <h2> Error: Access Denied </h2>
          <p> Incorrect username and/or password entered. Please sign in to gain access to the Bookmarklet Admin Tool </p>
          <p><a class="btn btn-primary btn-lg" href="/"> Sign In </a> </p>
        </div>
      </div>
    </div>
  </body>
</html>
