<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}

        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th> Application </th>
            </tr>
          </thead>
          <tbody>
            {{#mappings}}
              <tr>
                <td> {{type}} </td>
              </tr>
            {{/mappings}}
          </tbody>
        </table>

      </div>
    </div>
  </body>
</html>
