<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}

        {{#duplicate}}
          <div class="alert alert-danger" role="alert"> Mapping Type has already been entered, please edit the existing mapping instead of creating a new mapping. </div>
        {{/duplicate}}

        <form class="form col-sm-12" action="/admin/mappings/{{#mapping_data}}{{id}}{{/mapping_data}}?_method=put" method="post">
          <div class="form-group">
            <label> Type </label>
            <input class="form-control" name="type" value="{{#mapping_data}}{{type}}{{/mapping_data}}" disabled />
          </div>
          <div class="form-group">
            <label> Mapping </label>
            <textarea class="form-control" name="mapping" id="code" style="margin: 0px -1.99653px 0px 0px; width: 100%; height: 391px;"></textarea>
            <input type="hidden" name="type" value="{{#mapping_data}}{{type}}{{/mapping_data}}" />
            <!-- <input class="form-control" name="mapping" value="{{#mapping_data}}{{mapping}}{{/mapping_data}}"/> -->
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit"> Update New Mapping </button>
            <a href="/admin/mappings" class="btn btn-danger"> Cancel </a>
          </div>
        </form>

      </div>
    </div>
    <script>
      document.querySelector("#code").addEventListener("keydown", function(e){
        var TABKEY = 9;
        if(e.which == 9){
          this.value += "    ";
          e.preventDefault()
        }
      });
      var text = '{{#mapping_data}}{{mapping}}{{/mapping_data}}'.replace(/%0A/g,"\r\n").replace(/&amp;/g, "&").replace(/&gt/g, ">;").replace(/&lt/g, "<;").replace(/&quot;/g, '"').replace(/&#x2F;/g,"/").replace(/&#39;/g,"'");
      document.querySelector("#code").value=text;
    </script>
  </body>
</html>
