<html>
  <head>
    {{>templates/header}}
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        {{>templates/navbar}}

        {{#duplicate}}
          <div class="alert alert-danger" role="alert"> Mapping Type has already been entered, please edit the existing mapping instead of creating a new mapping. </div>
        {{/duplicate}}

        <form class="form col-sm-12" action="/admin/mappings/{{#mapping_data}}{{id}}{{/mapping_data}}?_method=put" method="post">
          <div class="form-group">
            <label> Type </label>
            <input class="form-control" name="type" value="{{#mapping_data}}{{type}}{{/mapping_data}}" disabled />
          </div>
          <div class="form-group">
            <label> Mapping </label>
            <input class="form-control" name="mapping" value="{{#mapping_data}}{{mapping}}{{/mapping_data}}"/>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit"> Update New Mapping </button>
            <a href="/admin/mappings" class="btn btn-danger"> Cancel </a>
          </div>
        </form>

      </div>
    </div>
  </body>
</html>
